.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass {
  color: #ff385c;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}
.navbar-collapse {
  position: static !important;
  background-color: white;
  z-index: auto;
}

/* search styles */
.search-btn {
  background-color: #ff385c;
  color: white;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
}

.search-btn:hover {
  background-color: #ff385c;
  color: white;
}

.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}

.search-input {
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  border: 1px solid #dddddd;
  width: 20rem;
  transition: width 0.4s ease-in-out;
  background-color: #f7f7f7;
}
